<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        //Angular JS
        //-Module - main function of ajs ,controller - controlls views etc ,
        //Directive - html atributes, starts with ng - to bind data with views
        //          -ng-app,ng-controller,ng-model-data,ng-bind - display the data - Angular Expression - {{}}
        //ng-click - use with button tag
        //ng-keyup - use with text fields,ng-repeat - used to generate views

        //Create Functions
       
        var app=angular.module("myApp",[]);//module
        app.controller("control",function($scope){
            $scope.evaluate = function(){
                var tot=parseInt($scope.num);
                var num1=parseInt($scope.n1);
                var num2=parseInt($scope.n2);
                var num3=parseInt($scope.n3);
                var num4=parseInt($scope.n4);
                var r1 = tot * num1/100;
                $scope.r1="Room Rent "+(r1);
                var r2 = tot * num2/100;
                $scope.r2="Accessories "+(r2);
                var r3 = tot * num3/100;
                $scope.r3="Emergencies "+(r3);
                var r4 = tot * num4/100;
                $scope.r4="Savings "+(r4);
            }
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="control">
    <div style="background-color:black; color:white;font-size:30px;text-align:center;">
        Budget Calculator App</div><br>
        <p style="font-size:25px;text-align:center" ><b>Enter Amount That You Want To Manage</b></p><br>
        <input type="number" ng-model="num" style="margin-left:42%;text-align: center;height:40px" placeholder="e.g:3000"><br>
        <p style="font-size:25px;text-align:center"><b>How Would You Like To Divide Your Money?</b></p><br>
        <div style="margin-left:5%">
            <b>Room Rent(%):</b><input type="number" ng-model="n1" style="text-align: center;height:40px" placeholder="e.g:3000">&nbsp;&nbsp;&nbsp;
            <b>Accessories(%):</b><input type="number" ng-model="n2" style="text-align: center;height:40px" placeholder="e.g:3000">&nbsp;&nbsp;&nbsp;
            <b>Emergency(%):</b><input type="number" ng-model="n3" style="text-align: center;height:40px" placeholder="e.g:3000">&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Saving(%):</b><input type="number" ng-model="n4" style="text-align: center;height:40px" placeholder="e.g:3000">
        </div>
        <br>
        <button ng-click="evaluate()" style="border:1px solid rgb(40, 40, 86);background-color:rgb(40, 40, 86);font-size:20px;color:white;text-align:center;height:50px;margin-left:41%">
            Evaluate My Money</button>
            <br><br><br>
            <div id="box" style="margin-left:5%">
            <div style="margin-left: 15%;float: left;;width:100px;height:70px;border:1px solid blue; background-color:blue;color:white;text-align:center">{{r1}}</div>
            <div style="margin-left: 10%;float: left;width:100px;height:70px;border:1px solid green; background-color:green;color:white;text-align:center">{{r2}}</div>
            <div style="margin-left: 10%;float: left;width:100px;height:70px;border:1px solid yellow; background-color:yellow;color:black;text-align:center">{{r3}}</div>
            <div style="margin-left: 10%;float: left;width:100px;height:70px;border:1px solid pink; background-color:pink;color:black;text-align:center">{{r4}}</div>
            </div>
    
    
</body>
</html>